<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a style="display:block" href="/auth/google"/> Log In With Google</a>
    <a style="display:block" href="/auth/facebook"/> Log In With facebook</a>
    <a style="display:block" href="/auth/github"/> Log In With github</a>
    <a style="display:block" href="/auth/twitter"/> Log In With twitter</a>
    <a style="display:block" href="/auth/logout"/> Log out</a>
  </body>
</html>
