<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link rel="stylesheet" href="../public/stylesheets/styles.css" />
  </head>
  <script src="../public/javascripts/script.js" defer></script>
  <body class="bg-white text-black p-5">
    
  </body>
</html>
