@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Styles */
.btn {
  @apply text-gray-800 align-middle text-center border border-transparent px-5 py-2 rounded-lg bg-def hover:bg-defhover hover:border-defhover focus:bg-defhover focus:border-defhover focus:outline-none transition-all duration-300 ease-in-out;
}

/* Sizes */
.btn-sm {
  @apply px-2 py-1;
}

.btn-lg {
  @apply px-7 py-3 text-xl;
}

/* Buttons with background */
.btn-primary {
  @apply text-white bg-primary border border-primary hover:border-primaryhover  hover:bg-primaryhover focus:bg-primaryhover focus:border-primaryhover focus:outline-none;
}

.btn-secondary {
  @apply text-white bg-secondary border border-secondary hover:border-secondaryhover hover:bg-secondaryhover focus:bg-secondaryhover focus:border-secondaryhover focus:outline-none;
}

.btn-danger {
  @apply text-white bg-danger border  border-danger hover:border-dangerhover hover:bg-dangerhover focus:bg-dangerhover focus:border-dangerhover focus:outline-none;
}

/* Button with outline */
.btn-default-outline {
  @apply text-gray-800 bg-transparent border border-gray-800  
   hover:bg-defhover focus:bg-defhover focus:outline-none;
}
.btn-primary-outline {
  @apply text-primary bg-transparent border border-primary  
   hover:bg-blue-50 focus:bg-blue-50 focus:outline-none;
}

.btn-secondary-outline {
  @apply text-secondary bg-transparent border border-secondary  
   hover:bg-gray-100 focus:bg-gray-100 focus:outline-none;
}

.btn-danger-outline {
  @apply text-danger bg-transparent border border-danger  
   hover:bg-red-100 focus:bg-red-100 focus:outline-none;
}

/* Button with text only */
.btn-default-link {
  @apply btn-default-outline border-none hover:border-transparent;
}
.btn-primary-link {
  @apply btn-primary-outline border-none hover:border-transparent;
}
.btn-secondary-link {
  @apply btn-secondary-outline border-none hover:border-transparent;
}
.btn-danger-link {
  @apply btn-danger-outline border-none hover:border-transparent;
}

/* Disabled state */
button:disabled,
button[disabled],
button.disabled {
  @apply text-gray-400 bg-def border border-def hover:bg-def hover:border-def focus:bg-def focus:border-def focus:outline-none cursor-not-allowed shadow-none;
}

.sidebar {
  @apply w-full md:w-56 md:h-full relative md:fixed z-10 top-0 left-0 overflow-hidden overflow-y-scroll bg-gray-700 bg-opacity-90 py-3 px-10 md:px-5 shadow-xl;
}

.form-group {
  @apply my-3 flex flex-col;
}
.form-select {
  @apply rounded-xl px-5 py-2 bg-gray-100 hover:bg-gray-200 focus:outline-none text-gray-800;
}
.form-label {
  @apply text-gray-200 mb-2 text-xl;
}

.sidebar::-webkit-scrollbar {
  @apply w-3;
}
 
.sidebar::-webkit-scrollbar-track {
  @apply shadow-inner;
}
 
.sidebar::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-xl; 
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar {
  @apply w-3;
}
 
body::-webkit-scrollbar-track {
  @apply shadow-inner;
}
 
body::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-xl; 
  outline: 1px solid slategrey;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
