$orange: #f2994a;
$gray1: #333333;
$gray2: #4f4f4f;
$gray4: #bdbdbd;
$gray5: #a9a9a9;

$sans: "Montserrat";
$serif: "Playfair Display";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $sans, "sans-serif";
  padding: 0 30px;
}

.recipe-title {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  font-family: $serif, "serif";
  margin-bottom: 15px;
}

.recipe-img {
  width: 100%;
  height: auto;
  margin: 40px 0;
}

.dots {
  margin: 5px 15px 0 5px;
}
.recipe-description {
  display: flex;
  align-items: flex-start;
  span {
    color: $gray2;
    font-style: italic;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    max-width: 600px;
  }
}

.recipe-subtitle1 {
  font-family: $serif, serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
.recipe-subtitle2 {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.recipe-steps {
  float: left;
  width: 78%;
}
.card-container {
  float: right;
  width: 22%;
}

.recipe-step {
  display: grid;
  grid-template-columns: 30px auto;
  margin-bottom: 15px;
  min-height: 30px;
  input {
    transform: scale(1.6);
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5px;

    margin-right: 15px;
    float: left;
  }
}
.recipe-instruction {
  display: grid;
  grid-template-columns: 50px auto;
  margin-bottom: 30px;
  div {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background: $orange;
    color: white;
    font-size: 1.5rem;
    font-family: $serif, "serif";
    font-weight: 700;
  }
}
.recipe-source {
  font-style: italic;
  font-weight: 400;
  a {
    text-decoration: none;
  }
}

.card {
  width: 216px;
  height: 367px;
  padding: 30px;
  padding-left: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.card-item {
  display: flex;
  i {
    margin-right: 20px;
  }
}
.card-icon {
  font-size: 1.75rem;
}

.card-txt {
  h6 {
    font-size: 0.625rem;
    text-transform: uppercase;
  }
  p {
    font-weight: 500;
    font-size: 0.875rem;
  }
}

footer {
  margin: 100px 0 20px 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.875rem;
  color: $gray5;
}

/* Utilities */

.container {
  overflow: auto;
  margin: 40px auto;
  padding: 0 10px;
  max-width: 1000px;
}

.mb-35 {
  margin-bottom: 35px;
}
.mb-50 {
  margin-bottom: 50px;
}

.text-gray1 {
  color: $gray1;
}

.text-gray2 {
  color: $gray2;
}
.text-gray4 {
  color: $gray4;
}
.text-gray5 {
  color: $gray5;
}

.text-orange {
  color: $orange;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .recipe-steps {
    width: 70%;
  }
  .card-container {
    width: 30%;
  }
  .card {
    float: right;
    width: 196px;
    height: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .recipe-title {
    font-size: 2.5rem;
  }
  .recipe-steps,
  .card-container {
    float: none;
    width: 100%;
    padding: 0;
  }
  .card-container {
    width: 90%;
  }

  .card {
    float: none;
    width: 100%;
    height: unset;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: space-between;
  }
  .card-item:first-child {
    width: 100%;
  }
  .card-item:last-child {
    margin-right: 0;
  }
  .card-item {
    margin: 20px 20px 20px 0;
  }
}
@media only screen and (max-width: 580px) {
  .recipe-title {
    font-size: 2rem;
  }
  .card-item {
    margin: 15px 0;
    i {
      margin-right: 15px;
    }
  }
  .card-txt {
    h6 {
      font-size: 0.625rem;
    }
    p {
      font-size: 0.75rem;
    }
  }
  .card-icon {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 425px) {
  body {
    padding: 0;
  }
  .recipe-title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .recipe-description {
    span {
      font-size: 0.75rem;
    }
  }
  .recipe-img {
    margin: 10px 0;
  }

  .recipe-subtitle1 {
    font-size: 1.125rem;
    margin-bottom: 15px;
  }
  .recipe-subtitle2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .recipe-step {
    font-size: 0.875rem;
    input {
      transform: scale(1.5);
    }
  }
  .recipe-instruction {
    font-size: 0.875rem;
  }
  .recipe-source {
    font-size: 0.75rem;
  }

  .card-item {
    margin: 10px 0;
    i {
      margin-right: 10px;
    }
  }
  .card-txt {
    h6 {
      font-size: 0.5rem;
    }
    p {
      font-size: 0.625rem;
    }
  }
  .card-icon {
    font-size: 1rem;
  }

  .container {
    overflow: auto;
    margin: 10px auto;
    padding: 0 10px;
  }
}
