@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: none !important;
}

body {
  @apply dark:bg-[#333];
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
}
