@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline-color: black;
}